@font-face {
    font-family: 'Inter Regular';
    src: url(../assets//fonts/Inter\ 500.ttf);
}

@font-face {
    font-family: 'Raleway Black';
    src: url(../assets/fonts/Raleway\ 900.ttf);
}

.stacker {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 0 0;
    width: 40vh;
    height: 40em;
    overflow: auto;
    text-align: center;
}

body {
    background-color: #fffaff;
    color: #1e1b18;
    font-family: 'Inter Regular';
}

#title {
    text-align: center;
    font-family: 'Raleway Black';
}

.top {
    text-align: center;
}

.buttons {
    padding-top: 25px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.buttons button {
    font-family: 'Inter Regular';
    font-size: 25px;
    background-color: #4ea5d9;
    border: none;
    border-radius: 10px;
    width: 5em;
    height: 2em;
}

.buttons #danger {
    background-color: #d8315b;
    border: none;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: fixed;
    bottom: 0;
    background-color: #1e1b18;
    width: 100%;
    left: 0;
}

footer #about {
    color: #fffaff;
}

footer a:link, footer a:visited{
    color: #cdfaef;
    text-decoration: none;
}

footer a:hover {
    color: #8c656e;
}